.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: #f8fafc;
}

.form-container {
  padding: 5px 75px 5px 75px;
	background: white;
	border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container input {
	margin: 5px;
}

.container input[type='submit'] {
	margin-top: 10px;
}

.characters {
	width: 85px;
	margin-bottom: 5px;
}
